/* GLOBAL ===================================================================== */
:root {
    --shadow-color: rgba(0, 0, 0, .15);
    --shadow-active-color: rgba(0, 0, 0, .25);
    --fixed-background-color: rgba(245, 245, 245, .82);
    --background-color: hsla(223deg, 10%, 15%, 1);
    --border-color: hsla(223deg, 47%, 36%, .9);
    --primary-color: hsla(223deg, 47%, 36%, 1);
    --primary-mid-color: hsla(223deg, 47%, 31%, 1);
    --primary-darker-color: hsla(223deg, 47%, 25%, 1);
    --primary-darkened-color: hsla(223deg, 47%, 19%, 1);
    --primary-bright-color: hsla(223deg, 94%, 90%, 1);
    --primary-brighter-color: hsla(223deg, 99%, 97%, 1);
    --secondary-color: hsla(223deg, 35%, 60%, 1);
    --secondary-bright-color: hsla(223deg, 86%, 90%, 1);
    --tertiary-color: hsla(223deg, 47%, 21%, 1);
    --tertiary-darker-color: hsla(223deg, 47%, 21%, .8);
    --selection-color: hsla(223deg, 90%, 37%, .5);
    --pinky-color: hsla(314deg, 90%, 52%, 1);
    --pinky-bright-color: hsla(314deg, 90%, 89%, 1);
    --green-color: hsla(93deg, 48%, 36%, 1);
    --yellow-color: hsla(30deg, 48%, 36%, 1);
    --turbid-color: hsla(0deg, 99%, 99%, 1);
    --white-color: hsla(0deg, 100%, 100%, 1);
    --red-color: hsla(342deg, 48%, 36%, 1);
    --form-focus-color: hsla(223deg, 47%, 36%, .25);
    --muted-color: hsla(223deg, 10%, 15%, .45);

    /* SIZES */
    --normal-size: 12.4px;
    --smaller-size: 11px;
}

/* BASE */
/* ===================================================================== */
*,
*::before,
*::after {
    /*outline: 1px solid var(--pinky-color);*/
}

*::selection {
    background-color: var(--selection-color);
    color: var(--primary-brighter-color);
}

*::-webkit-scrollbar {
    width: .5rem;
    background-color: var(--secondary-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-color);
    transition: all 240ms ease-in-out;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--tertiary-darker-color);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--normal-size);
}
body.sb-nav-fixed {
    background-color: var(--primary-brighter-color);
}

/* BREADCRUMBS */
/* ===================================================================== */
.breadcrumb a {
    text-decoration: none;
    color: var(--primary-color);
}

.breadcrumb a:focus,
.breadcrumb a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
}

/* NAVBAR */
/* ===================================================================== */
.navbar {
    background-color: var(--primary-color);
    color: var(--primary-brighter-color);
}

.navbar-bg-color {
    background-color: var(--primary-color);
    color: var(--primary-bright-color);
}

.navbar-brand,
.navbar-nav .nav-link {
    color: var(--primary-bright-color);
}

.navbar-brand:focus,
.navbar-brand:hover {
    color: var(--primary-brighter-color);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--primary-brighter-color);
}

.navbar-toggler {
    border-color: var(--fixed-background-color);
}

.navbar-toggler:focus {
    background-color: var(--primary-darker-color);
    box-shadow: 0 0 0 2px var(--primary-brighter-color);
}

.dropdown-menu {
    font-size: var(--normal-size);
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: var(--primary-brighter-color);
    color: var(--primary-darkened-color);
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: var(--primary-darker-color);
    color: var(--primary-bright-color);
}

hr.dropdown-divider {
    border: 0;
    background-color: var(--bs-dropdown-border-color);
}

#layoutSidenav #layoutSidenav_content {
    top: unset !important;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

#sidebarToggle {
    color: var(--primary-darker-color);
}
#sidebarToggle:focus,
#sidebarToggle:hover {
    outline: 0;
    box-shadow: none;
}

.sb-topnav .navbar-brand {
    width: auto;
}
.sb-topnav .navbar-brand,
.sb-topnav .navbar-nav .nav-link {
    color: var(--primary-color);
}

.sb-topnav .navbar-nav .dropdown-menu {
    position: absolute;
    right: 0;
}

.sb-sidenav-menu {
    background-color: var(--primary-color);
}

.sb-sidenav .sb-sidenav-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4px 8px;
    height: 48px;
    background-color: var(--primary-darker-color);
}
.sb-sidenav-dark {
    background-color: var(--primary-color);
}
.sb-sidenav-menu-nested {
    margin-left: 0!important;
}
.sb-sidenav-menu-nested .nav {
    margin-left: 32px!important;
}
.sb-sidenav-menu-heading {
    padding: 12px 1rem 0!important;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link {
    padding: 4px 1rem;
}
.sb-sidenav .sb-sidenav-menu .collapse.show {
    background-color: var(--primary-mid-color);
}
.sb-sidenav-menu .nav-link.last:last-child {
    margin-bottom: 1.5rem;
}

.sb-nav-link-icon {
    width: 24px;
}

.sb-sidenav-menu .nav-link.disabled {
    text-decoration: line-through;
    background-color: var(--primary-darkened-color);
    color: var(--muted-color);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
    color: var(--primary-bright-color);
    background-color: var(--primary-darker-color);
}

#navigator {
    z-index: 1050;
}
.spacing {
    height: 56px;
}

.nav-pills {
    align-items: center;
    justify-content: center;
}

.nav-pills .nav-link.active {
    background-color: var(--primary-color);
}

/* CAROUSEL */
/* ===================================================================== */
.carousel-item {
    height: calc(64vh - 45px);
    align-items: center;
    justify-content: center;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

/* CARD */
/* ===================================================================== */
.card {
    transition: all 150ms ease-in-out;
    /*background-color: var(--turbid-color);*/
    background-color: var(--white-color);
}

.card:hover {
    transform: translateY(-9.75px);
    box-shadow: 0 .5rem 1rem var(--shadow-color);
    border: 1px solid var(--border-color);
}

.card:hover .card-header {
    border-bottom: 1px solid var(--border-color);
}

.card:hover .card-footer {
    border-top: 1px solid var(--border-color);
}

.badge-floating {
    top: 2rem;
    right: 1rem;
}

/* PRELOADER */
/* ===================================================================== */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2701;
    background-color: var(--fixed-background-color);
}

#loader .mid {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: transparent;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
}

/* OTHERS */
/* ===================================================================== */
.pointer {
    cursor: pointer;
}

img {
    pointer-events: none;
}

.img-halved {
    width: 72%;
}

.img-source {
    width: 100%;
    max-width: 360px;
}

.img-avatar-small {
    width: 36px;
    height: 36px;
}

.img-hero {
    width: 100%;
    max-width: 480px;
}

ul.square {
    list-style-type: square;
    padding-left: 1rem;
}

ol.breadcrumb {
    margin: 0;
}

.mb-lg-31 {
    margin-bottom: 0;
}

.mt-lg-31 {
    margin-top: 3rem;
}

.mt-12 {
    margin-top: 4rem;
}

.mb-12 {
    margin-bottom: 4rem;
}

.mb-12-on {
    margin-bottom: 4rem;
}

.mt-20 {
    margin-top: 8rem;
}

.mb-20 {
    margin-bottom: 8rem;
}

.my-6 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.my-12 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}
.px-20 {
    padding-left: 8rem;
    padding-right: 8rem;
}

.py-20 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.p-6 {
    padding: 6rem;
}
.px-6 {
    padding-left: 6rem;
    padding-right: 6rem;
}

.py-6 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

.pt-6 {
    padding-top: 6rem;
}

.pb-6 {
    padding-bottom: 4rem;
}

.ps-6 {
    padding-left: 2.4rem;
}

.p-20 {
    padding: 8rem;
}

.pt-20 {
    padding-top: 8rem;
}

.pb-20 {
    padding-bottom: 8rem;
}

.dotted {
    text-decoration: none;
    color: var(--primary-color);
}

.dotted:focus,
.dotted:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
}

.underlined {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: var(--primary-color);
}

.underlined:focus,
.underlined:hover {
    text-decoration-style: solid;
    cursor: pointer;
}

.hr-top::before {
    content: "";
    background-color: var(--primary-color);
    width: 120px;
    height: 2px;
    position: absolute;
    top: 2.4rem;
    left: 50%;
    transform: translateX(-50%);
}

#move {
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--primary-darker-color);
    position: fixed;
    z-index: 1048;
}

/* PORTAL */
/* ===================================================================== */
#portal .accordion-button {
    font-size: var(--normal-size);
    font-weight: 500;
}
#portal .box-info > div {
    flex-basis: 47%;
    flex-grow: 1;
    padding: .5rem 1rem;
    transition: all 240ms ease-in-out;
}
#portal .box-info > div:hover {
    border-color: var(--primary-color) !important;
}
#portal .box-info > div:hover .icon-box-floating {
    color: var(--primary-color);
}
#portal .icon-box-floating {
    right: 1rem;
    font-size: 2em;
    top: 50%;
    transform: translateY(-50%);
    color: var(--muted-color);
}

#portal .accordion-button:not(.collapsed) {
    background-color: var(--secondary-bright-color);
    color: var(--primary-color);
}

#portal .summary-header {
    font-weight: 600;
    margin: 0;
    font-size: 16px;
}

#portal .summary-content {
    margin: 0;
}

/* BUTTONS */
/* ===================================================================== */
.btn-color {
    background-color: var(--primary-color) !important;
    color: var(--primary-bright-color) !important;
}

.btn-color:focus,
.btn-color:hover {
    background-color: var(--primary-darker-color) !important;
    color: var(--primary-bright-color) !important;
}

.btn-outline-color {
    background-color: var(--primary-brighter-color) !important;
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
    font-weight: bold;
}

.btn-outline-color:focus,
.btn-outline-color:hover {
    background-color: var(--primary-bright-color) !important;
    color: var(--primary-darker-color) !important;
}

.btn-dual {
    background-color: var(--primary-darker-color) !important;
    color: var(--primary-bright-color) !important;
}

.btn-dual:focus,
.btn-dual:hover {
    background-color: var(--primary-darkened-color) !important;
    color: var(--primary-bright-color) !important;
}

/* LAYOUTS */
/* ===================================================================== */
.w-90 {
    width: 160px !important;
}
.w-100 {
    width: 100% !important;
}

.h-64 {
    height: 64vh;
}

.h-100 {
    min-height: 100vh;
}

.text-bg-color {
    background-color: var(--primary-color);
    color: var(--primary-brighter-color);
}

.text-bg-color a {
    color: var(--fixed-background-color);
}

.text-bg-brighter-color {
    background-color: var(--secondary-bright-color);
    color: var(--primary-color);
}

.text-bg-brighter-color a {
    color: var(--border-color);
}

.bg-darker-color {
    background-color: var(--primary-darker-color);
}

.bg-brighter-color {
    background-color: var(--primary-brighter-color);
}

.text-color {
    color: var(--primary-color) !important;
}

.text-justify {
    text-align: justify;
}

.text-pinky {
    color: var(--pinky-color);
}

.text-smaller {
    font-size: 9px;
}

/* VACANCY */
/* ===================================================================== */
.vacancy-container {}

.vacancy-item .card-body {}

/* TABLE */
/* ===================================================================== */
.dataTable {
    width: inherit !important;
    margin: 0 !important;
}

.dataTable td {
    white-space: nowrap;
    vertical-align: middle;
    text-overflow: ellipsis;
}

div.dataTables_wrapper
div.dataTables_info {
    padding: 0 !important;
}


/* FORM */
/* ===================================================================== */
.btn {
    font-size: var(--normal-size) !important;
    padding-left: 1rem;
    padding-right: 1rem;
}

.form-control,
.form-select {
    font-size: var(--normal-size) !important;
    border-radius: 0;
}

.form-date-floating,
.form-date-defined-floating,
.form-select-defined-floating,
.form-select-floating {
    position: relative;
}

.form-select-defined-floating .select2-selection--single,
.form-select-floating .select2-selection--single {
    border: var(--bs-border-width) solid var(--bs-border-color);
    padding-top: 28px;
    padding-left: 7px;
    padding-bottom: 28px;
}

.form-select-defined-floating .select2-selection--multiple,
.form-select-floating .select2-selection--multiple {
    border: var(--bs-border-width) solid var(--bs-border-color);
    padding-top: 30px;
    padding-bottom: 10px;
}

.form-select-floating .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 4px;
}

.form-select-floating label {
    position: absolute;
    top: 8px;
    left: 0;
    padding-left: 12px;
    font-size: var(--smaller-size);
    color: var(--muted-color);
    z-index: 12;
}

.form-date-floating label {
    position: absolute;
    top: 8px;
    left: 0;
    padding-left: 8px;
    font-size: var(--smaller-size);
    color: var(--muted-color);
    z-index: 12;
}

.form-date-floating input {
    border: var(--bs-border-width) solid var(--bs-border-color);
    padding-top: 24px;
    padding-left: 8px;
    padding-bottom: 10px;
}

/* FORM ON MODAL */
/* ===================================================================== */
.form-select-defined-floating label {
    position: absolute;
    top: 8px;
    left: 0;
    padding-left: 14px;
    font-size: var(--smaller-size);
    color: var(--muted-color);
    z-index: 12;
}

.form-date-defined-floating label {
    position: absolute;
    top: 8px;
    left: 0;
    padding-left: 14px;
    font-size: var(--smaller-size);
    color: var(--muted-color);
    z-index: 12;
}

.form-date-defined-floating input {
    border: var(--bs-border-width) solid var(--bs-border-color);
    padding-top: 24px;
    padding-left: 8px;
    padding-bottom: 10px;
}

/* SELECT-2-LIBRARY */
/* ===================================================================== */
.select2-search .select2-search--dropdown {
    background-color: var(--primary-brighter-color)
}

.select2-selection {
    border-radius: 0 !important;
    font-size: var(--normal-size) !important;
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-search .select2-search__field {
    margin-top: 4px;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option {
    font-size: var(--normal-size) !important;
}

.icon-floating {
    top: 50%;
    left: 1.8rem;
    transform: translateY(-50%);
    z-index: 2;
}

/* PAGINATION */
/* ===================================================================== */
.page-item:first-child .page-link,
.page-item:first-child .dataTable-pagination a,
.dataTable-pagination .page-item:first-child a,
.dataTable-pagination li:first-child .page-link,
.dataTable-pagination li:first-child a {
    border-radius: 0;
}

.page-item:last-child .page-link,
.page-item:last-child .dataTable-pagination a,
.dataTable-pagination .page-item:last-child a,
.dataTable-pagination li:last-child .page-link,
.dataTable-pagination li:last-child a {
    border-radius: 0;
}

.page-item.active .page-link,
.page-item.active .dataTable-pagination a,
.dataTable-pagination .page-item.active a,
.dataTable-pagination li.active .page-link,
.dataTable-pagination li.active a {
    color: var(--primary-brighter-color);
    background-color: var(--primary-color);
    border-color: var(--border-color);
}

.page-link:focus,
.dataTable-pagination a:focus,
.form-select:focus,
.form-control:focus,
.dataTable-input:focus {
    box-shadow: none;
    border-color: var(--primary-color);
    /*box-shadow: 0 0 0 0.25rem var(--form-focus-color);*/
}

a.page-link,
span.page-link {
    font-size: var(--normal-size);
}

ul.pagination {
    margin: 0;
}

/* HOMEPAGE */
/* ===================================================================== */
.filter input {
    border-radius: 2rem 0 0 2rem;
    padding-left: 3.2rem;
}

.filter button {
    border-radius: 0 2rem 2rem 0;
}

.big-quote {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.number-container {
}
.how-to-number {
    background-color: var(--primary-color);
    width: 24px;
    height: 24px;
    font-weight: bold;
    margin-top: 4px;
    padding-top: 4px;
    font-size: 10px;
    color: var(--primary-brighter-color);
}

.how-step + .how-step::before {
    content: "";
    border: 1px dashed var(--primary-color);
    top: -72px;
    height: 69px;
    left: 11.1px;
    z-index: -1;
    position: absolute;
}

/* RPS */
/* ===================================================================== */
.btn-hand {
    background-color: var(--primary-brighter-color);
    text-align: center;
    flex: 1;
    height: 180px;
    font-size: 6em;
    cursor: pointer;
    border: 1px solid transparent;
    box-shadow: 4px 8px var(--shadow-color);
    transition: all 72ms ease-in;
    padding-left: 4rem;
    padding-right: 4rem;
}

.btn-hand:focus,
.btn-hand:hover {
    border-color: var(--primary-color);
    background-color: var(--primary-bright-color);
}

.btn-hand:active {
    box-shadow: 4px 4px var(--shadow-active-color);
    transform: translateY(4px);
}

/* FOOTER */
/* ===================================================================== */
footer.alt .nav-item {
    position: relative;
}

footer.alt .nav-item+.nav-item {
    padding-left: 1.5rem;
}

footer.alt .nav-item+.nav-item::before {
    content: "·";
    position: absolute;
    top: 50%;
    left: 9px;
    transform: translateY(-50%);
}

footer .nav-link {
    transition: all 160ms ease-in-out;
}

footer .nav-link:hover {
    color: var(--pinky-bright-color) !important;
    transform: translateX(4px);
}
