@media all and (max-width: 1279.98px) {
	ul.tri { columns: 2; }
}

@media all and (max-width: 991.98px) {
	.mb-lg-31 { margin-bottom: 5rem; }
	.mt-lg-31 { margin-top: 1.5rem; }
	.ps-6 {
		padding: 0 !important;
	}
	.how-step + .how-step::before {
		display: none;
	}
	.vacancy-single {
	    flex-basis: 64%;
	}
	#navbarSupportedContent #registerItem {
		border-radius: 0 !important;
	}
	.flex-basis-4 {
		flex-basis: 100%;
	}
	#patria .row {
	    height: unset;
	}
}

@media all and (max-width: 767.98px) {
	.flex-basis-6 {
		flex-basis: 100%;
	}
}

@media all and (max-width: 575.98px) {
	ul.dual { columns: 1; }
	ul.tri { columns: 1; }
	.filter button,
	.filter input {
		width: 100%;
		border-radius: 0;
	}
	#portal .box-info div {
		flex-basis: 100%;
	}
	.mb-12 {
		margin-bottom: 1.5rem;
	}

	/* LAYOUTS */
	.w-90,
	.w-480 {
		width: 100% !important;
	}
}

/* DASHBOARD */
@media all and (min-width: 991.98px) and (max-width: 1279.98px) {
	#layoutSidenav .flex-basis-4,
	#layoutSidenav .flex-basis-6 {
		flex-basis: 48%;
	}
}